* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;  
    text-align: center;
    gap: 1.5em;
    padding: 20px;
    border-radius:10px;
}

img {
    border-radius:10px;
}

h1 {
    color: hsl(218, 44%, 22%);
}

p {
    padding: 0 16px;
    color: hsl(220, 15%, 55%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }